[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
Environment=JAVA_HOME=/usr/java/jdk{{ version['jdk'] }}-amd64
Environment="KAFKA_OPTS=-javaagent:{{ kafka_home }}/libs/jmx_prometheus_javaagent-{{ version['jmx'] }}.jar={{ jmx_port }}:{{ kafka_home }}/config/config.yaml"
ExecStart=/home/kafka/_package/bin/kafka-server-start.sh /home/kafka/_package/config/server.properties
ExecStop=/home/kafka/_package/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
