[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
Environment=JAVA_HOME=/usr/java/jdk1.8.0_311-amd64
ExecStart=/home/kafka/_package/bin/kafka-server-start.sh /home/kafka/_package/config/server.properties
ExecStop=/home/kafka/_package/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
